/* Daily Specials Style Sheet */

				#monday, #tuesdayLunch, #tuesdayDinner, #wednesdayLunch, #wednesdayDinner, #thursdayLunch, #thursdayDinner, #fridayLunch, #fridayHappyHour, #fridayDinner, #saturdayHappyHour, #saturdayDinner  {
							margin: 50px;
							font-size: 2em;
							font-family: "Arial Black", Gadget, sans-serif;
				}
				
				#monday img, #tuesdayLunch img, #tuesdayDinner img, #wednesdayLunch img, #wednesdayDinner img, #thursdayLunch img, #thursdayDinner img, #fridayLunch img, #fridayHappyHour img, #fridayDinner img, #saturdayHappyHour img, #saturdayDinner img {
							width: 80%;
				}
				
				#monday h1, #tuesdayLunch h1, #tuesdayDinner h1, #wednesdayLunch h1, #wednesdayDinner h1, #thursdayLunch h1, #thursdayDinner h1, #fridayLunch h1, #fridayHappyHour h1, #fridayDinner h1, #saturdayHappyHour h1, #saturdayDinner h1 {
						text-decoration: underline;
						color: #ffcd82;
				}

				#noSpecial img{
						width: 90%;
				}
				
				
				
			.my-slider {
					text-align: center;
					margin: 0;
			}
			
			
			.foodSpecials {
					font-size: 1.2em;
					font-family: "Arial Black", Gadget, sans-serif;
					padding: 75px 0;
			}
			
			.foodSpecials h1 {
					margin-bottom: 35px;
					border-bottom: 8px double #e0d0b5;
			}
			
			.foodSpecials img {
					width: 40%;
					border: 10px outset #ffcd82;
			}