/* Downtown Thai Page Style */

				* {
					margin: 0;
					padding: 0;
				}

				

				.main {
						width:  90%;
						height: 100%;
						margin: 1% auto;
						background-color: #444b4c;
						color: #e0d0b5;
						border: 3px outset #ad8d56;
				}
				

				
				#heading, footer {
						text-align: center;
						color: #ffcd82;
						/*color: #ad8d56;*/
				}
				
				
				
				#menuButton {
						background-color: #313b47;
						color: #967233;
						margin-left: 8px;
						margin-top: 5px;
						padding: 0 5px;
						border: 2px outset #967233;
				}
				
				
				
				#menuButton:hover {
						background-color: #ad8d56;
						color: #4c525b;
				}
				
				
				
				#todaySpecial {
						width: 70%;
						margin: 3% auto;
						border: 7px inset  #1b1f26;
						text-align: center;
						background-image: url("../images/wood.jpg");
				}
				
				
				
				.sidePageContent {
						color: #e0d0b5;
						margin-left: 50px;
						margin-right: 50px;
				}
				
				
				
				
				
			    #allSpecialsBtn {
						font-family: Impact, Charcoal, sans-serif;
						font-size: 1.5em;
						background-color: #1b1f26;
						color: #ad8d56;
						border: 3px outset #e0d0b5;
						border-radius: 25px;
						margin: 10px;
						padding: 10px;
						text-decoration: none;
				}
				
				
				
				#allSpecialsBtn:hover {
						background-color: #e0d0b5;
						color: #1b1f26;
						border: 3px ridge #ad8d56;
				}
				
				
				#menuSideContent img {
						width: 60%;
						float: right;
				}
				
				#menuSideContent .row {
						margin-bottom: 50px;
						
				}
				
				#menuSideContent h5 {
						margin-bottom: 35px;
				}
				
				
				#quickMealSideContent form input,select,p {
						margin: 10px 0;
				}
				
				#quickMealSideContent input,textarea,select {
						background-color: #e0d0b5;
						color: #1b1f26;
				}
				
				#quickMealSideContent img {
						width: 100%;
						border: 5px outset #e0d0b5;
				}
				
				
				
				#locationSideContent input,textarea,select {
						background-color: #e0d0b5;
						color: #1b1f26;
				}
				
				.quantity {
						text-align: center;
				}
				
				
				body {
						background-color: #1b1f26;
				}
				
				#displayOrder {
						display: none;
				}
				
				
				
				#monday, #tuesdayLunch, #tuesdayDinner, #wednesdayLunch, #wednesdayDinner, #thursdayLunch, #thursdayDinner, #fridayLunch, #fridayHappyHour, #fridayDinner, #saturdayHappyHour, #saturdayDinner, #noSpecial {
					
						display: none;
				}